*, *::after, *::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    max-width: 1920px;
    margin: auto;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: auto;
    position: relative;
}

.card{
  width: 200px;
  margin: auto;
}
